<!DOCTYPE html>
<html>
  <head>
    <title>Micolet</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "suscriptions" %>
  </head>

  <body>
    <%= yield %>

    <input type="hidden" value="<%= I18n.locale %>" id="locale" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_pack_tag 'landing' %>
  </body>
</html>
